[submodule "external/tests/gnl-unit-test"]
	path = external/tests/gnl-unit-test
	url = https://github.com/harm-smits/gnl-unit-test.git
[submodule "external/build/premake-ecc"]
	path = external/build/premake-ecc
	url = https://github.com/MattBystrin/premake-ecc.git
